.input {
  text-align: center;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: white;
  padding: 5px;
  justify-content: space-around;
}

.floor1 {
  color: black;
  justify-content: space-around;
  font-family:monospace;
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
}

.lift1 {
  color: black;
  justify-content: space-between;
  font-family:monospace;
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
}

.card {
  transition: 0.3s;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox{

}

.demo {
  justify-content: center space-around;
  text-align: center;
  border-radius: 6px;
  padding: 8px 24px;
  color: white;
  margin-top: 8px;
  border: none;
  background-color: #1a62f2;
}

.floor-container {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.floor {
  display: flex;
  align-items: flex-end;
  height: 100px;
  width: 100%;
  border-bottom: 2px solid black;
}

.ground-floor-container {
  height: 100%;
  display: flex;
}

.floornum {
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.button-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex: content;
}

.btn-move {
  padding: 2px;
  height: 2rem;
  width: 3rem;
  border: black;
  border-width: 1px;
  border-color: #1a62f2;
  border-radius: 5px;
}

.btn-move:hover {
  background-color: #1a62f2;
  text-decoration: white;
}

.lift {
  border: 1px solid black;
  height: 80px;
  top: 15px;
  width: 66px;
  margin-left: 20px;
  position: relative;
  display: inline-flex;
  background-color: transparent;
  transition: 2s ease-in;
}

.right-door {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  background-color: #1a62f2;
  justify-content: space-between;
  transition-duration: 2s;
}

.move-right {
  transform: translate(100%);
  transition-duration: 1s;
}

.left-door {
  height: 100%;
  width: 50%;
  border: 1px solid black;
  background-color: #1a62f2;
  justify-content: space-between;
  transition-duration: 2s;
}

.move-left {
  transform: translate(-100%);
  transition-duration: 1s;
}

@keyframes doorSimulation {
  from {
    width: 50%;
  }
  50% {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

/* Sample test code */